body {
  background-color: #333;
  color: #fff;
  padding: 0;
  margin: 0;
  text-align: center;
  transition: all 0.6s ease;
}

#playGround {
  display: flex;
  margin-top: 40px;
  gap: 200px;
  justify-content: center;
}
#score {
  font-size: 40px;
  margin-top: 20px;
}
#playGround img {
  width: 150px;
  height: 150px;
  border-radius: 16px;
  border: #e94b3cff solid 3px;
}
#text {
  margin-top: 30px;
  background-color: #171717;
  padding: 20px 0px;
  min-height: 20px;
}
#choice {
  display: flex;
  margin-top: 30px;
  justify-content: center;
  gap: 30px;
}
#choice img {
  height: 80px;
  width: 80px;
  cursor: pointer;
}
#choice img:hover {
  transform: scale(1.2);
}
#end {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 450px;
  background-color: #333;
  box-shadow: #171717 0px 0px 5px;
  top: 50px;
  left: 305px;
  gap: 80px;
}
#tryAgain {
  background-color: #333;
  box-shadow: #171717 0px 0px 6px;
  padding: 15px 10px;
  max-width: 80px;
  max-height: 20px;
  cursor: pointer;
}
#tryAgain:hover {
  transform: scale(1.2);
}
#result {
  font-size: 30px;
}
.hide {
  display: none !important;
}
